@import "tailwindcss";
@import "tailwindcss/utilities";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Dark Theme (default) */
:root {
  --color-bg: #100f12; /* deep eggplant */
  --color-text: #ecc8da; /* soft pink */
  --color-accent: #f472b6; /* pink-400 */
  --color-muted: #2e293b; /* muted dark */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Custom Swiper Pagination Styles */
.swiper-wrapper {
  width: 100%;
}
.swiper-pagination-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swiper-pagination-vertical .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--color-muted);
  opacity: 0.5;
  transition: all 0.3s ease;
  border-radius: 9999px;
}

.swiper-pagination-vertical .swiper-pagination-bullet-active {
  background: var(--color-accent);
  opacity: 1;
}
